﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h2>Jaswanth Kumar Jonnalagadda </h2>
<address>
    1115 N College Drive<br />
    Apt 86<br />
	Maryville, MO - 64468</br>
    <abbr title="Phone">P:</abbr>
    484.302.9172
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
